<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .err {
            outline-color: red;
        }
    </style>
</head>

<body>
    <div id="demo">
        <form action="" @submit.prevent='onSubmit'>
            <label for="">用户名：
      <input type="text" v-model="username" :class='{err:unHasErr}'>
    </label>
            <label for="">密码：
      <input type="text" v-model="pwd" :class='{err:pwHasErr}'>
    </label>
            <label for="">年龄：
      <input type="text" v-model="age" :class='{err:agHasErr}'>
    </label>
            <input type="submit">提交</input>
        </form>
    </div>
    <div id="demo2">

    </div>
    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el: '#demo',
            data: {
                username: '',
                pwd: '',
                age: '',
                unHasErr: false,
                pwHasErr: false,
                agHasErr: false,
            },
            method: {
                onSubmit() {
                    this.unHasErr = Math.random > 0.5
                    this.pwHasErr = Math.random > 0.5
                    this.agHasErr = Math.random > 0.5

                }
            },
            computed: {
                ageHasErr() {
                    return /^1[0-2]\d|[1-9]\d|\d$/.test(this.age)
                }
            },
        })
    </script>
</body>

</html>