<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>

<body>
    <div id="demo">
        添加一个TODO任务<input type="text" v-model="task"><input @click='add' type="button" value="add">
        <ul>
            <li v-for="(task, index) in tasks" :key="index">{{task}} <button @click='del(index)'>删除</button></li>
        </ul>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el: '#demo',
            data: {
                task: '',
                tasks: [],
            },
            methods: {
                add() {
                    this.tasks.unshift(this.task)
                    this.task = ''
                },
                del(index) {
                    this.tasks.splice(index, 1)
                }
            },
        })
    </script>
</body>

</html>