<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="demo">
        <p>
            <!-- 复选框的值：{{status}} -->
            <input type="text" v-model="status" type="checkbox">
            <input type="text" v-if="status" style="width: 100px;">
        </p>
        <p>多个复选框的值：{{myColor}}
            <label for=""><input type="checkbox" name="color" v-model="myColor" value="红">红</label>
            <label for=""><input type="checkbox" name="color" v-model="myColor" value="黄">黄</label>
            <label for=""><input type="checkbox" name="color" v-model="myColor" value="蓝">蓝</label>
        </p>
        <table border="1">
            <tr>
                <th>主键</th>
                <th>用户名</th>
                <th>角色</th>
            </tr>
            <tr v-for="(user, index) in users" :key="id">
                <td>{{index+1}}</td>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.role}}</td>
            </tr>
        </table>
    </div>
    <script src="../../js/vue.js"></script>
    <script>
        new Vue({
            el: '#demo',
            data() {
                return {
                    status: '',
                    myColor: [],
                    users: [{
                            id: 1,
                            name: 'zs',
                            role: '管理员'
                        }, {
                            id: 2,
                            name: 'ls',
                            role: '普通用户'
                        }, {
                            id: 3,
                            name: 'qe',
                            role: '管理员'
                        }, {
                            id: 4,
                            name: 'zj',
                            role: '普通用户'
                        },

                    ]
                }
            },
        })
    </script>
</body>

</html>sc