<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>过滤和排序</title>
</head>

<body>
    <div id="demo">
        <input type="text" v-model="searchName">
        <ul>
            <li v-for="(p, index) in filterPersons" :key="id">
                {{p.id}}----{{p.name}}----{{p.age}}
            </li>
        </ul>
        <button @click='sortType=2'>按年龄升序</button>
        <button @click='sortType=3'>按年龄降序</button>
        <button @click='sortType=1'>原本顺序</button>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el: '#demo',
            data: {
                searchName: '',
                sortType: 1, //1：不排序，2.升序3.降序
                persons: [{
                    id: 1,
                    name: 'Tom',
                    age: 15
                }, {
                    id: 2,
                    name: 'Mike',
                    age: 19
                }, {
                    id: 3,
                    name: 'Jack',
                    age: 18
                }, {
                    id: 4,
                    name: 'Amber',
                    age: 20
                }, ]
            },
            computed: {
                //过滤后的新数组
                filterPersons() {
                    //1.取出依赖数据
                    const {
                        searchName,
                        persons,
                        sortType,
                    } = this
                    //2.计算产生新数据
                    const arr = persons.filter((p, index) => {
                        //过滤函数 返回布尔值
                        return p.name.indexOf(searchName) !== -1
                    })

                    //可能排序（升/降）
                    if (sortType !== 1) {
                        arr.sort((p1, p2) => {
                            if (sortType === 3) {
                                return p2.age - p1.age
                            } else {
                                //如果返回值大于0，将p2放在左边-升序
                                return p1.age - p2.age
                            }
                        })
                    }
                    //3.返回新数组
                    return arr
                }
            },
        })
    </script>
</body>

</html>